body{
    background-image: url(images/pri.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.arrow {
    width: 30px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    animation: arrow-wave 1s infinite;
    animation-direction: alternate;
    margin: 0 auto;
}
.arrow:nth-child(1) {
    animation-delay: 0.1s;
}
.arrow:nth-child(2) {
    animation-delay: 0.2s;
}
.arrow:nth-child(3) {
    animation-delay: 0.3s;
}
@keyframes arrow-wave {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
.arrows-animation
{
    position: absolute;
    bottom: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.button{
    position: absolute;
    bottom: 35%;
    left: 33%;
    right: 0;
    margin: 0 auto;
}
